Repository andrewdavidmackenzie/pigg: changes, and which Codecov flags are due for each by the changed paths.
All: pigglet, piggui, porky, pigdef, piggpio, pignet, hw_tests

codecov.yml:

codecov:
  token: f15e8f2f-b8ef-4d82-8bca-02addf9e49fd

coverage:
  round: up
  precision: 0
  status:
    project:
      default:
        target: auto
        threshold: 20%
        informational: true
    patch: off

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        branches:
          - "!master"
  individual_components:
    - component_id: pigglet
      name: pigglet
      paths:
        - pigglet/**
    - component_id: piggui
      name: piggui
      paths:
        - piggui/**
    - component_id: porky
      name: porky
      paths:
        - porky/**
    - component_id: pigdef
      name: pigdef
      paths:
        - pigdef/**
    - component_id: piggpio
      name: piggpio
      paths:
        - piggpio/**
    - component_id: pignet
      name: pignet
      paths:
        - pignet/**
    - component_id: hw_tests
      name: hw_tests
      paths:
        - hw_tests/**

Update other dependency versions
  porky/Cargo.lock
  porky/Cargo.toml
Due: porky

Move hgw_tests to separate job that runs without profiling and not every day
  .github/workflows/build_and_test.yml
  .github/workflows/device_tests.yml
  porky/Cargo.lock
Due: porky

Try without headless wayland
  .github/workflows/build_and_test.yml
Due: none

Add blank line
  .github/workflows/build_and_test.yml
Due: none

Update embassy-executor version
  porky/Cargo.lock
  porky/Cargo.toml
Due: porky

Change step name
  .github/workflows/build_and_test.yml
Due: none

Revert "Try without headless wayland"
  .github/workflows/build_and_test.yml
  Makefile
Due: none

Add a snout as a favicon :-)
  assets/icons/android-chrome-192x192.png
  assets/icons/android-chrome-512x512.png
  assets/icons/apple-touch-icon.png
  assets/icons/favicon-16x16.png
  assets/icons/favicon-32x32.png
  assets/icons/favicon.ico
  site/_includes/head.html
  site/favicon.png
Due: none

setup porky
  BUILDING.md
  porky/Cargo.lock
Due: porky

Add lines tables only directive for compìle info in release mode
  Cargo.toml
Due: none

Enable only windows and factor out arm builds
  .github/workflows/arm_builds.yml
  .github/workflows/build_and_test.yml
Due: none

Rename
  .github/workflows/arm_builds.yml
Due: none

Factor out other CI jobs
  .github/workflows/arm_builds.yml
  .github/workflows/build_and_test.yml
  .github/workflows/checks.yml
Due: none

Improve comment
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
Due: none

Fix fmt
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
Due: none

Debug failing hw_tests
  .github/workflows/device_tests.yml
Due: none

Try extending timeout after iroh disconnect
  hw_test/tests/lib_to_devices/mdns_iroh.rs
Due: none

Back to mac only
  .github/workflows/build_and_test.yml
Due: none

Rename workflow job and step
  .github/workflows/surge-preview.yml
Due: none

Allow docs preview job to fail
  .github/workflows/surge-preview.yml
Due: none

Fix OsRng changes
  pigglet/src/device_net/iroh_device.rs
  pignet/src/iroh_host.rs
Due: pigglet, pignet

Fix API changes in Iroh
  pigglet/src/device_net/iroh_device.rs
  pignet/src/iroh_host.rs
  porky/Cargo.lock
Due: pigglet, porky, pignet

Changes to 0.94, including renaming of nodeid to endpoint_id everywhere
  .github/ISSUE_TEMPLATE/release-manual-testing-template.md
  README.md
  RUNNING.md
  hw_test/tests/discovery/mdns.rs
  hw_test/tests/discovery/usb.rs
  hw_test/tests/lib_to_devices/mdns_iroh.rs
  hw_test/tests/lib_to_devices/usb_iroh.rs
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  pigglet/src/device_net/iroh_device.rs
  pigglet/src/instance.rs
  pigglet/src/pigglet.rs
  pigglet/tests/iroh.rs
  pigglet/tests/iroh_then_tcp.rs
  pigglet/tests/tcp_then_iroh.rs
  piggui/README.md
  piggui/src/discovery.rs
  piggui/src/hardware_subscription.rs
  piggui/src/piggui.rs
  piggui/src/views/connect_dialog.rs
  piggui/tests/connect.rs
  piggui/tests/support.rs
  pignet/src/iroh_host.rs
  pignet/src/lib.rs
Due: pigglet, piggui, pignet

Grammar
  hw_test/tests/lib_to_devices/usb_iroh.rs
Due: none

Force build prior to copy to pi device.
  pigglet/Makefile
Due: pigglet

Remove empty line
  pigglet/Makefile
Due: pigglet

Update to 0.95.1 API
  pigglet/src/device_net/iroh_device.rs
Due: pigglet

Don't exclude assets
  Cargo.toml
Due: none

Fix API changes
  hw_test/tests/discovery/mdns.rs
  piggui/src/discovery.rs
Due: piggui

Move all to heapless 0.9.2 to resolve dependency unmet issue
  Cargo.lock
  porky/Cargo.lock
  porky/Cargo.toml
Due: porky

Update lock
  Cargo.lock
Due: none

Fix a lot of the API changes
  pignet/src/usb_host.rs
Due: pignet

Update usb_host.rs
  pignet/src/usb_host.rs
Due: pignet

Add use
  pignet/src/usb_host.rs
Due: pignet

Fix use
  pignet/src/usb_host.rs
Due: pignet
