Repository andrewdavidmackenzie/pigg: changes, and which Codecov flags are due for each by the changed paths.
All: pigglet, piggui, porky, pigdef, piggpio, pignet, hw_tests

Fix test output
  pigglet/tests/tcp.rs
Due: pigglet

Try ignoring tests
  pigglet/src/config.rs
  pigglet/src/pigglet.rs
  pigglet/tests/mod.rs
  pigglet/tests/tcp.rs
  piggui/tests/mod.rs
Due: pigglet, piggui

Debugging Windows test failure
  pigglet/tests/mod.rs
Due: pigglet

Remove delays
  pigglet/tests/mod.rs
Due: pigglet

Try adding delays after each start of pigglet
  pigglet/tests/iroh.rs
  pigglet/tests/mod.rs
Due: pigglet

Drop delays and add debugging
  piggui/tests/support.rs
Due: piggui

Rework tests to not panic without killing pigglet processes
  hw_test/tests/cross.rs
  pigglet/tests/tcp.rs
  piggui/tests/support.rs
Due: pigglet, piggui

Fix warning
  pigglet/tests/tcp.rs
Due: pigglet

Disable single hw access
  pigglet/tests/mod.rs
  piggpio/src/lib.rs
Due: pigglet, piggpio

Generate info file
  piggpio/src/lib.rs
Due: piggpio

Don't Generate info file
  piggpio/src/lib.rs
Due: piggpio

Skip piggui
  pigglet/src/pigglet.rs
  piggpio/src/lib.rs
Due: pigglet, piggpio

Avoid dual hw access in piggui
  pigglet/src/pigglet.rs
  piggpio/src/fake_pi.rs
  piggpio/src/lib.rs
  piggpio/src/pi.rs
  piggui/src/discovery.rs
  piggui/src/local_host.rs
  piggui/src/piggui.rs
Due: pigglet, piggui, piggpio

Fix web-build
  piggui/src/piggui.rs
Due: piggui

Control hw access again
  pigglet/src/pigglet.rs
  piggpio/src/lib.rs
Due: pigglet, piggpio

Fuck this shit
  pigglet/src/pigglet.rs
  pigglet/tests/tcp.rs
  piggpio/src/lib.rs
  piggui/src/local_host.rs
Due: pigglet, piggui, piggpio

Disable check in piggui
  piggui/src/local_host.rs
Due: piggui

Re-enable tests
  pigglet/tests/mod.rs
Due: pigglet

Try again
  pigglet/src/pigglet.rs
Due: pigglet

Fix all features
  pigglet/src/pigglet.rs
Due: pigglet

Add process_name
  pigglet/src/pigglet.rs
Due: pigglet

Debugging - different location
  pigglet/src/pigglet.rs
Due: pigglet

Moving around
  pigglet/src/pigglet.rs
  pigglet/tests/mod.rs
Due: pigglet

Add a test for two_instances of pigglet
  pigglet/tests/mod.rs
Due: pigglet

Rework ListenerInfo and check_unique()
  pigglet/src/device_net/iroh_device.rs
  pigglet/src/device_net/tcp_device.rs
  pigglet/src/pigglet.rs
  pigglet/tests/mod.rs
Due: pigglet

Add a two instances test for piggui
  pigglet/src/pigglet.rs
  pigglet/tests/mod.rs
  piggui/src/hardware_subscription.rs
  piggui/tests/mod.rs
  piggui/tests/support.rs
Due: pigglet, piggui

Extend test
  piggui/tests/mod.rs
Due: piggui

Refactoring
  pigglet/src/pigglet.rs
Due: pigglet

Refactoring
  pigglet/src/instance.rs
  pigglet/src/pigglet.rs
  pigglet/src/service.rs
  piggui/tests/mod.rs
Due: pigglet, piggui

Fix all features
  pigglet/src/instance.rs
  pigglet/src/pigglet.rs
  piggui/Cargo.toml
  piggui/src/piggui.rs
Due: pigglet, piggui

Try delays to fix windows test
  pigglet/tests/mod.rs
Due: pigglet

avoid get_hardware()
  piggpio/src/lib.rs
  piggui/src/discovery.rs
  piggui/src/piggui.rs
Due: piggui, piggpio

Display warning messages if the hardware is under control of another process
  piggui/src/piggui.rs
Due: piggui

Fix warnings
  piggui/src/piggui.rs
Due: piggui

Refactorings
  Cargo.lock
  pigdef/src/config.rs
  pigglet/src/config.rs
  pigglet/src/device_net/iroh_device.rs
  pigglet/src/device_net/tcp_device.rs
  pigglet/src/pigglet.rs
  pigglet/tests/tcp.rs
  piggpio/Cargo.toml
  piggpio/src/config.rs
  piggpio/src/lib.rs
  piggui/tests/support.rs
Due: pigglet, piggui, pigdef, piggpio

Fix bug
  piggui/tests/support.rs
Due: piggui

Fix bug
  Cargo.lock
  pigglet/src/pigglet.rs
  piggpio/Cargo.toml
  piggpio/src/config.rs
  piggui/src/local_host.rs
Due: pigglet, piggui, piggpio

Path conditions:
  pigglet: any of: pigglet/**
  piggui: any of: piggui/**
  porky: any of: porky/**
  pigdef: any of: pigdef/**
  piggpio: any of: piggpio/**
  pignet: any of: pignet/**
  hw_tests: any of: hw_tests/**
