Repository andrewdavidmackenzie/pigg: changes, and which Codecov flags are due for each by the changed paths.
All: pigglet, piggui, porky, pigdef, piggpio, pignet, hw_tests

Re-enable test
  piggui/src/discovery.rs
  piggui/src/hardware_subscription.rs
  piggui/src/local_host.rs
  piggui/src/piggui.rs
  piggui/tests/mod.rs
  piggui/tests/support.rs
Due: piggui

Force local app name and version into hardware description for local hardware
  piggpio/src/config.rs
  piggpio/src/fake_pi.rs
  piggpio/src/lib.rs
  piggpio/src/pi.rs
  piggui/src/discovery.rs
  piggui/src/local_host.rs
  piggui/src/piggui.rs
  piggui/src/views/devices_menu.rs
Due: piggui, piggpio

Cosmetic
  piggui/src/hardware_subscription.rs
  piggui/src/local_host.rs
Due: piggui

Save local configs on each change
  piggui/src/hardware_subscription.rs
  piggui/src/local_host.rs
  piggui/src/piggui.rs
  piggui/src/views/hardware_view.rs
  pignet/src/iroh_host.rs
  pignet/src/lib.rs
Due: piggui, pignet

Remove delays
  pigglet/tests/tcp.rs
Due: pigglet

Try retries
  piggui/tests/support.rs
Due: piggui

See if 10 retries fixes Windows
  piggui/tests/support.rs
Due: piggui

3 retries enough
  piggui/tests/support.rs
Due: piggui

Clippy as a separate job
  .github/workflows/build_and_test.yml
Due: none

Avoid nightly
  .github/workflows/build_and_test.yml
Due: none

same toolchain
  .github/workflows/build_and_test.yml
Due: none

Same clippy in Makefile as CI
  Makefile
Due: none

Retries on iroh connect also
  hw_test/tests/lib_to_iroh_devices.rs
  piggui/src/hardware_subscription.rs
  piggui/tests/support.rs
  pignet/src/iroh_host.rs
Due: piggui, pignet

Avoid stdout
  piggpio/src/config.rs
  piggui/tests/mod.rs
Due: piggui, piggpio

Try retrying in pigglet tcp tests
  pigglet/tests/tcp.rs
Due: pigglet

Build target for Android aarch64 using the Android NDK
  .cargo/config.toml
  pigglet/Makefile
Due: pigglet

Add aarch64-android to CI builds
  .github/workflows/build_and_test.yml
Due: none

Remove from CI and document building for aarch64 android
  BUILDING.md
  pigglet/Makefile
Due: pigglet

Drop android from CI
  .github/workflows/build_and_test.yml
Due: none

Try an ndk action
  .github/workflows/build_and_test.yml
Due: none

Remove manual linker install step
  .github/workflows/build_and_test.yml
Due: none

Add to path
  .github/workflows/build_and_test.yml
Due: none

Just build piglet
  .github/workflows/build_and_test.yml
Due: none

Don't output endpoint- verbose and not useful
  pigglet/src/device_net/iroh_device.rs
Due: pigglet

Avoid extra blank lines
  pigglet/src/instance.rs
Due: pigglet

Fix hw_tests build
  hw_test/tests/lib_to_iroh_devices.rs
  pigglet/tests/tcp.rs
  piggui/Cargo.toml
  piggui/tests/support.rs
Due: pigglet, piggui

fix use
  pigglet/tests/tcp.rs
Due: pigglet

Add the ability to terminate waiting on a line of stdout
  Makefile
  hw_test/tests/iroh.rs
  hw_test/tests/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_usb_devices.rs
  hw_test/tests/tcp.rs
  pigglet/tests/mod.rs
  piggui/tests/mod.rs
  piggui/tests/support.rs
Due: pigglet, piggui

Remove blank line
  Makefile
Due: none

Avoid hanging if connection error
  hw_test/tests/piggui_to_iroh_devices.rs
  piggui/src/piggui.rs
Due: piggui

Avoid hanging if connection error
  hw_test/tests/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_usb_devices.rs
Due: none

Explicitly reject some stdout
  hw_test/tests/iroh.rs
  hw_test/tests/tcp.rs
  piggui/tests/mod.rs
Due: piggui

Fix iroh api changes
  pignet/src/iroh_host.rs
Due: pignet

Fix iroh api changes
  pigglet/src/device_net/iroh_device.rs
Due: pigglet

Fix clippy
  piggui/src/piggui.rs
Due: piggui

Extend deadline to 10s and report that error
  hw_test/tests/mdns_support.rs
Due: none

Not an error, just a deadline
  hw_test/tests/mdns_support.rs
Due: none

Path conditions:
  pigglet: any of: pigglet/**
  piggui: any of: piggui/**
  porky: any of: porky/**
  pigdef: any of: pigdef/**
  piggpio: any of: piggpio/**
  pignet: any of: pignet/**
  hw_tests: any of: hw_tests/**
