Repository andrewdavidmackenzie/pigg: changes, and which Codecov flags are due for each by the changed paths.
All: pigglet, piggui, porky, pigdef, piggpio, pignet, hw_tests

codecov.yml:

codecov:
  token: f15e8f2f-b8ef-4d82-8bca-02addf9e49fd

coverage:
  round: up
  precision: 0
  status:
    project:
      default:
        target: auto
        threshold: 20%
        informational: true
    patch: off

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        branches:
          - "!master"
  individual_components:
    - component_id: pigglet
      name: pigglet
      paths:
        - pigglet/**
    - component_id: piggui
      name: piggui
      paths:
        - piggui/**
    - component_id: porky
      name: porky
      paths:
        - porky/**
    - component_id: pigdef
      name: pigdef
      paths:
        - pigdef/**
    - component_id: piggpio
      name: piggpio
      paths:
        - piggpio/**
    - component_id: pignet
      name: pignet
      paths:
        - pignet/**
    - component_id: hw_tests
      name: hw_tests
      paths:
        - hw_tests/**

Fix use
  pignet/src/usb_host.rs
Due: pignet

add porky
  pignet/src/usb_host.rs
Due: pignet

add uses
  pignet/src/usb_host.rs
Due: pignet

Update futures with iced
  Cargo.lock
  piggui/Cargo.toml
  piggui/src/views/connect_dialog.rs
  piggui/src/views/devices_menu.rs
  piggui/src/views/hardware_view.rs
  piggui/src/views/info_dialog.rs
  piggui/src/views/ssid_dialog.rs
  piggui/src/widgets/toast.rs
Due: piggui

Update iced_aw with iced
  Cargo.lock
  piggui/Cargo.toml
Due: piggui

Update iced_aw with iced
  Cargo.lock
  piggui/Cargo.toml
  piggui/src/widgets/spinner/circular.rs
Due: piggui

Adapt to api change
  pigglet/src/service.rs
Due: pigglet

Update iced_aw with iced
  Cargo.lock
Due: none

cargo update
  Cargo.lock
Due: none

Update a lot of the iced API
  piggui/Cargo.toml
  piggui/src/discovery.rs
  piggui/src/hardware_subscription.rs
  piggui/src/piggui.rs
  piggui/src/views/connect_dialog.rs
  piggui/src/views/devices_menu.rs
  piggui/src/views/dialog_styles.rs
  piggui/src/views/hardware_styles.rs
  piggui/src/views/hardware_view.rs
  piggui/src/views/info_dialog.rs
  piggui/src/views/info_row.rs
  piggui/src/views/message_box.rs
  piggui/src/views/pin_state.rs
  piggui/src/views/ssid_dialog.rs
  piggui/src/views/waveform.rs
  piggui/src/widgets/circle.rs
  piggui/src/widgets/led.rs
  piggui/src/widgets/line.rs
  piggui/src/widgets/spinner/circular.rs
  piggui/src/widgets/toast.rs
Due: piggui

More updates to newer iced API
  piggui/Cargo.toml
  piggui/src/views/hardware_view.rs
  piggui/src/views/waveform.rs
  piggui/src/widgets/spinner/circular.rs
  piggui/src/widgets/toast.rs
Due: piggui

Switch to iced-14 branch of plotters_iced
  Cargo.lock
  piggui/Cargo.toml
Due: piggui

Last API change
  piggui/src/widgets/toast.rs
Due: piggui

Fix warnings
  piggui/src/piggui.rs
  piggui/src/widgets/spinner/circular.rs
  piggui/src/widgets/toast.rs
Due: piggui

Fix linux builds
  Cargo.lock
  piggui/Cargo.toml
Due: piggui

Install wayland client
  .github/workflows/checks.yml
Due: none

Fix all features
  piggui/src/discovery.rs
Due: piggui

Install wayland-client on linux
  .github/install-arm-linkers.yml
  .github/workflows/arm_builds.yml
  .github/workflows/build_and_test.yml
Due: none

Install libwayland-client0
  .github/install-arm-linkers.yml
  .github/workflows/arm_builds.yml
  .github/workflows/build_and_test.yml
  .github/workflows/checks.yml
  Cargo.lock
  pigglet/Cargo.lock
Due: pigglet

dist init
  .github/workflows/release.yml
Due: none

Install wayland dev and enable x11/wayland features on all linux
  .github/install-arm-linkers.yml
  .github/workflows/build_and_test.yml
  .github/workflows/release.yml
  Makefile
  piggui/Cargo.toml
  piggui/Makefile
Due: piggui

Avoid wayland on wasm32
  piggui/Cargo.toml
Due: piggui

Avoid rebuilding always in each test of pigglet
  pigglet/tests/cli_options.rs
  pigglet/tests/iroh.rs
  pigglet/tests/iroh_then_tcp.rs
  pigglet/tests/singleton.rs
  pigglet/tests/tcp.rs
Due: pigglet

cargo fmt
  pigglet/tests/iroh_then_tcp.rs
Due: pigglet

Remove more builds
  pigglet/tests/tcp_then_iroh.rs
  piggui/tests/connect.rs
  piggui/tests/singleton.rs
Due: pigglet, piggui

API change
  pigglet/src/device_net/iroh_device.rs
Due: pigglet

Force use of "reuseport" feature on mdsn-sd 0.17.2
  hw_test/Cargo.toml
  pigglet/Cargo.toml
  piggui/Cargo.toml
Due: pigglet, piggui

Cargo update
  Cargo.lock
Due: none

Cargo update
  Cargo.lock
  piggui/Cargo.toml
Due: piggui

Update porky version of heapless too. This build now requires rust 1.95thanks to sysinfo.
  porky/Cargo.lock
  porky/Cargo.toml
Due: porky

Install stable
  .github/workflows/device_tests.yml
Due: none
