Repository andrewdavidmackenzie/pigg: changes, and which Codecov flags are due for each by the changed paths.
All: pigglet, piggui, porky, pigdef, piggpio, pignet, hw_tests

codecov.yml:

codecov:
  token: f15e8f2f-b8ef-4d82-8bca-02addf9e49fd

coverage:
  round: up
  precision: 0
  status:
    project:
      default:
        target: auto
        threshold: 20%
        informational: true
    patch: off

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        branches:
          - "!master"
  individual_components:
    - component_id: pigglet
      name: pigglet
      paths:
        - pigglet/**
    - component_id: piggui
      name: piggui
      paths:
        - piggui/**
    - component_id: porky
      name: porky
      paths:
        - porky/**
    - component_id: pigdef
      name: pigdef
      paths:
        - pigdef/**
    - component_id: piggpio
      name: piggpio
      paths:
        - piggpio/**
    - component_id: pignet
      name: pignet
      paths:
        - pignet/**
    - component_id: hw_tests
      name: hw_tests
      paths:
        - hw_tests/**

Fix iroh reconnect by ensuring CLOSE frame is transmitted before endpoint drop
  pigglet/tests/iroh.rs
  pignet/src/iroh_host.rs
Due: pigglet, pignet

Add tokio dependency to pignet iroh feature
  pignet/Cargo.toml
Due: pignet

Remove 31s reconnect sleep workaround from mDNS iroh hw_test
  hw_test/tests/lib_to_devices/mdns_iroh.rs
Due: none

Add fail-fast: false so all matrix builds run to completion
  .github/workflows/build_and_test.yml
Due: none

Enable full build matrix (ubuntu, windows, macos) and add codecov notify config
  .github/workflows/build_and_test.yml
  codecov.yml
Due: none

Set after_n_builds to 3 to match full matrix size
  codecov.yml
Due: none

Gate x11/wayland features behind non-Windows target
  piggui/Cargo.toml
Due: piggui

Fix after_n_builds to 2 (Windows skips coverage upload)
  codecov.yml
Due: none

Scope ARM target selector to Linux to prevent Windows ARM overlap
  piggui/Cargo.toml
Due: piggui

Fix process name matching on Windows for sysinfo
  pigglet/src/pigglet.rs
  piggui/src/piggui.rs
  piggui/tests/support.rs
Due: pigglet, piggui

Update iroh from 0.97.0 to 1.0.0-rc.0
  Cargo.lock
  hw_test/Cargo.toml
  pigglet/Cargo.toml
  pigglet/src/device_net/iroh_device.rs
  piggui/Cargo.toml
  pignet/Cargo.toml
  pignet/src/iroh_host.rs
Due: pigglet, piggui, pignet

Use GitHub latest release URLs for all binary download links
  HELP.md
  INSTALLING.md
  README.md
  pigglet/README.md
  piggui/README.md
  porky/README.md
Due: pigglet, piggui, porky

Add headless UI tests using iced_test simulator
  .github/ISSUE_TEMPLATE/release-manual-testing-template.md
  Cargo.lock
  piggui/Cargo.toml
  piggui/src/piggui.rs
  piggui/src/ui_test.rs
Due: piggui

Run cargo fmt on ui_test.rs
  piggui/src/ui_test.rs
Due: piggui

Remove iced_test simulator usage to fix headless CI
  Cargo.lock
  piggui/Cargo.toml
  piggui/src/ui_test.rs
Due: piggui

Tighten manual test template to only non-automated items
  .github/ISSUE_TEMPLATE/release-manual-testing-template.md
Due: none

Fix browser/wasm build rendering and add connect menu
  Cargo.lock
  Makefile
  piggui/Cargo.toml
  piggui/Makefile
  piggui/index.html
  piggui/src/piggui.rs
  piggui/src/views/connection_menu.rs
  piggui/src/views/layout_menu.rs
  piggui/src/wasm_test.rs
Due: piggui

Gate device menu text in disconnected view behind discovery feature
  piggui/src/views/hardware_view.rs
Due: piggui

Center view content in browser viewport
  piggui/src/piggui.rs
  piggui/src/ui_test.rs
Due: piggui

Center hardware view vertically and horizontally in viewport
  piggui/src/piggui.rs
Due: piggui

Run wasm-bindgen-test smoke tests in CI web-build job
  .github/workflows/checks.yml
Due: none

Gate integration tests behind non-wasm cfg
  piggui/tests/connect.rs
  piggui/tests/mod.rs
  piggui/tests/singleton.rs
Due: piggui

Support URL query parameters for auto-connect in browser build
  piggui/Cargo.toml
  piggui/src/piggui.rs
Due: piggui

Use UrlSearchParams for proper URL decoding of query parameters
  piggui/Cargo.toml
  piggui/src/piggui.rs
Due: piggui

Switch wasm renderer from tiny-skia to wgpu for Canvas support
  piggui/Cargo.toml
Due: piggui

Eliminate panics: deny unwrap/expect across all crates, add jonesy CI
  .github/workflows/jonesy.yml
  Cargo.lock
  Makefile
  jonesy.toml
  pigdef/src/config.rs
  pigdef/src/description.rs
  pigdef/src/lib.rs
  pigglet/src/instance.rs
  pigglet/src/pigglet.rs
  piggpio/src/lib.rs
  piggui/src/discovery.rs
  piggui/src/piggui.rs
  piggui/src/views/pin_state.rs
  piggui/src/views/waveform.rs
  pignet/src/iroh_host.rs
  pignet/src/lib.rs
Due: pigglet, piggui, pigdef, piggpio, pignet

Log errors instead of silently dropping failures
  piggui/src/discovery.rs
  piggui/src/views/waveform.rs
Due: piggui

Log draw_series errors for consistency
  piggui/src/views/waveform.rs
Due: piggui

Achieve zero jonesy panic points with inline allow comments
  jonesy.toml
  pigdef/src/config.rs
  pigdef/src/pin_function.rs
  pigglet/src/device_net/iroh_device.rs
  pigglet/src/device_net/tcp_device.rs
  pigglet/src/instance.rs
  pigglet/src/pigglet.rs
  pigglet/src/service.rs
  piggpio/src/config.rs
  piggpio/src/fake_pi.rs
Due: pigglet, pigdef, piggpio

Send DiscoveryEvent::Error to GUI on mDNS daemon failure
  piggui/src/discovery.rs
Due: piggui

Add Playwright E2E browser tests for wasm build
  .github/workflows/e2e-tests.yml
  Makefile
  tests/e2e/.gitignore
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/piggui.spec.ts
  tests/e2e/playwright.config.ts
Due: none

Address CodeRabbit review: improve E2E test assertions
  tests/e2e/piggui.spec.ts
Due: none

Fix E2E test failures on CI
  tests/e2e/piggui.spec.ts
Due: none

Fix E2E CI: lower screenshot threshold, skip connectivity on CI
  tests/e2e/piggui.spec.ts
Due: none

Extend jonesy panic analysis to full workspace with CI enforcement
  .github/workflows/jonesy.yml
  Makefile
  jonesy.toml
  piggui/src/discovery.rs
  piggui/src/hardware_subscription.rs
  piggui/src/local_host.rs
  piggui/src/piggui.rs
  piggui/src/views/about.rs
  piggui/src/views/connect_dialog.rs
  piggui/src/views/hardware_view.rs
  piggui/src/views/info_dialog.rs
  piggui/src/views/pin_state.rs
  piggui/src/views/ssid_dialog.rs
  piggui/src/views/waveform.rs
  piggui/src/widgets/circle.rs
  piggui/src/widgets/led.rs
  piggui/src/widgets/line.rs
  piggui/src/widgets/spinner/circular.rs
  piggui/src/widgets/spinner/easing.rs
  pignet/src/iroh_host.rs
Due: piggui, pignet

Add jonesy:allow(bounds) for board_pin_layout_view caller propagation
  piggui/src/views/hardware_view.rs
Due: piggui

Fix jonesy:allow comment placement in piggpio config.rs
  piggpio/src/config.rs
Due: piggpio

Add jonesy:allow comments for pignet and piggpio findings
  piggpio/src/config.rs
  pignet/src/iroh_host.rs
  pignet/src/tcp_host.rs
  pignet/src/usb_host.rs
Due: piggpio, pignet

Fix jonesy:allow placement in piggpio config.rs - move above match arms
  piggpio/src/config.rs
Due: piggpio

Add invalid_enum to global jonesy allow list
  jonesy.toml
Due: none
