Repository andrewdavidmackenzie/pigg: changes, and which Codecov flags are due for each by the changed paths.
All: pigglet, piggui, porky, pigdef, piggpio, pignet, hw_tests

Revert "Add invalid_enum to global jonesy allow list"
  jonesy.toml
Due: none

Fix jonesy:allow placement for config.rs line 24
  piggpio/src/config.rs
Due: piggpio

Add per-file jonesy rule for piggpio/config.rs invalid_enum
  jonesy.toml
Due: none

Revert "Add per-file jonesy rule for piggpio/config.rs invalid_enum"
  jonesy.toml
Due: none

Remove ineffective jonesy comment from config.rs line 23
  piggpio/src/config.rs
Due: piggpio

Add jonesy:allow for config.rs deserialized config return
  piggpio/src/config.rs
Due: piggpio

Move jonesy:allow comment to line above closing brace in config.rs
  piggpio/src/config.rs
Due: piggpio

Temporarily disable fail-on-panic until jonesy rlib issue is fixed
  .github/workflows/jonesy.yml
Due: none

fix: Update jonesy allow comments for v0.9.0 compatibility
  jonesy.toml
  piggui/src/file_helper.rs
  piggui/src/views/hardware_view.rs
  piggui/src/views/waveform.rs
Due: piggui

fix: Re-enable jonesy fail-on-panic now that rlib allow comments work
  .github/workflows/jonesy.yml
Due: none

fix: Pin lcov to v2.4 to fix CI Setup LCOV failures
  .github/workflows/build_and_test.yml
Due: none

Path conditions:
  pigglet: any of: pigglet/**
  piggui: any of: piggui/**
  porky: any of: porky/**
  pigdef: any of: pigdef/**
  piggpio: any of: piggpio/**
  pignet: any of: pignet/**
  hw_tests: any of: hw_tests/**
