Repository andrewdavidmackenzie/pigg: changes, and which Codecov flags are due for each by the changed paths.
All: pigglet, piggui, porky, pigdef, piggpio, pignet, hw_tests

codecov.yml:

codecov:
  token: f15e8f2f-b8ef-4d82-8bca-02addf9e49fd

coverage:
  round: up
  precision: 0
  status:
    project:
      default:
        target: auto
        threshold: 20%
        informational: true
    patch: off

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        branches:
          - "!master"
  individual_components:
    - component_id: pigglet
      name: pigglet
      paths:
        - pigglet/**
    - component_id: piggui
      name: piggui
      paths:
        - piggui/**
    - component_id: porky
      name: porky
      paths:
        - porky/**
    - component_id: pigdef
      name: pigdef
      paths:
        - pigdef/**
    - component_id: piggpio
      name: piggpio
      paths:
        - piggpio/**
    - component_id: pignet
      name: pignet
      paths:
        - pignet/**
    - component_id: hw_tests
      name: hw_tests
      paths:
        - hw_tests/**

Simplify use of wait_for_std out and improve error messages
  hw_test/tests/lib_to_devices/usb_usb.rs
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_usb_devices.rs
  pigglet/tests/cli_options.rs
  pigglet/tests/singleton.rs
  piggui/tests/connect.rs
  piggui/tests/mod.rs
  piggui/tests/singleton.rs
  piggui/tests/support.rs
Due: pigglet, piggui

Simplify use of wait_for_std out and improve error messages
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_usb_devices.rs
Due: none

Better debugging
  piggui/tests/support.rs
Due: piggui

Try using relay in connect_iroh
  hw_test/tests/discovery/mdns.rs
  hw_test/tests/lib_to_devices/mdns_iroh.rs
  piggui/tests/support.rs
Due: piggui

Implement relay (RelayURL) argument on command line to piggui, and use it in tests when the relay_url is discovered by mDNS
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  piggui/src/piggui.rs
Due: piggui

Implement relay (RelayURL) argument on command line to piggui, and use it in tests when the relay_url is discovered by mDNS
  pigglet/tests/iroh.rs
  pigglet/tests/iroh_then_tcp.rs
  pigglet/tests/tcp.rs
  pigglet/tests/tcp_then_iroh.rs
  piggui/tests/connect.rs
  piggui/tests/support.rs
Due: pigglet, piggui

Fix all features
  piggui/src/piggui.rs
Due: piggui

Fix parsing of Relay URL from pigglet stdout
  piggui/tests/support.rs
Due: piggui

Try to fix failing test
  pigglet/tests/tcp.rs
Due: pigglet

Disconnect before checking at end of test
  pigglet/tests/tcp.rs
Due: pigglet

Avoid displaying error/warning on UI for pigglet/piggui in control of local hardware if a command line option requests to connect elsewhere
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_usb_devices.rs
  pigglet/tests/cli_options.rs
  pigglet/tests/singleton.rs
  piggui/src/discovery.rs
  piggui/src/piggui.rs
  piggui/tests/connect.rs
  piggui/tests/mod.rs
  piggui/tests/singleton.rs
Due: pigglet, piggui

Fix web build
  piggui/src/piggui.rs
Due: piggui

Fix clap parsing
  piggui/src/piggui.rs
Due: piggui

Fix default connection to be Local
  piggui/src/piggui.rs
  piggui/tests/connect.rs
Due: piggui

Rework tests to be more similar across discovery and connection methods. Include mdns_tcp tests in module. Refactor some test code
  hw_test/Cargo.toml
  hw_test/Makefile
  hw_test/tests/lib_to_devices/mdns_iroh.rs
  hw_test/tests/lib_to_devices/mdns_tcp.rs
  hw_test/tests/lib_to_devices/mod.rs
  hw_test/tests/lib_to_devices/usb_iroh.rs
  hw_test/tests/lib_to_devices/usb_tcp.rs
Due: none

Request config in test
  hw_test/tests/lib_to_devices/usb_iroh.rs
Due: none

Remove sleeps
  hw_test/tests/lib_to_devices/mdns_iroh.rs
Due: none

Make sure to kill piggui in test
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
Due: none

Kill all piggui at the start of each piggui test
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_usb_devices.rs
Due: none

Wait iroh timeout after killing piggui with an iroh connection
  piggui/tests/connect.rs
Due: piggui

Update to newer heapless and enable defmt feature
  pigdef/src/config.rs
  porky/Cargo.lock
  porky/Cargo.toml
  porky/src/gpio.rs
  porky/src/persistence.rs
Due: porky, pigdef

Same version 0.5.0 everywhere
  Cargo.lock
  porky/Cargo.lock
  porky/Cargo.toml
Due: porky

Update more dependencies and new Peripherals API
  porky/Cargo.lock
  porky/Cargo.toml
  porky/src/flash.rs
  porky/src/gpio.rs
  porky/src/mdns.rs
  porky/src/porky.rs
  porky/src/usb.rs
  porky/src/wifi.rs
Due: porky

Use iroh close method for disconnect
  pignet/src/iroh_host.rs
Due: pignet

Cargo.lock updated
  porky/Cargo.lock
Due: porky

To be sure to be sure
  pignet/src/iroh_host.rs
Due: pignet

Add timing to hw_tests, remove 10min limit, try and speed up mdns discovery
  .github/workflows/build_and_test.yml
  Cargo.lock
  Makefile
  hw_test/Cargo.toml
  hw_test/tests/discovery/mdns.rs
  hw_test/tests/lib_to_devices/mdns_iroh.rs
  hw_test/tests/lib_to_devices/mdns_tcp.rs
  hw_test/tests/lib_to_devices/usb_iroh.rs
  hw_test/tests/lib_to_devices/usb_tcp.rs
  hw_test/tests/lib_to_devices/usb_usb.rs
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_usb_devices.rs
Due: none

Update embassy-executor version
  porky/Cargo.lock
  porky/Cargo.toml
Due: porky

Update other dependency versions
  porky/Cargo.lock
  porky/Cargo.toml
Due: porky

Reinstate windows and linux in testing matrix
  .github/workflows/build_and_test.yml
Due: none

Move hgw_tests to separate job that runs without profiling and not every day
  .github/workflows/build_and_test.yml
  .github/workflows/device_tests.yml
  porky/Cargo.lock
Due: porky

Tests for compressing debug info
  BUILDING.md
Due: none
