Repository andrewdavidmackenzie/pigg: changes, and which Codecov flags are due for each by the changed paths.
All: pigglet, piggui, porky, pigdef, piggpio, pignet, hw_tests

Rename files to reflects hw_tests done in them
  hw_test/tests/lib_to_iroh_devices.rs
  hw_test/tests/lib_to_mixed_piglet.rs
  hw_test/tests/mdns_support.rs
  hw_test/tests/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_iroh_pigglet.rs
  hw_test/tests/piggui_to_tcp_pigglet.rs
  piggui/src/piggui.rs
Due: piggui

Rename files to reflects hw_tests done in them
  hw_test/tests/mdns_support.rs
Due: none

Extend deadline to 10s and report that error
  hw_test/tests/mdns_support.rs
Due: none

Fix iroh api changes
  pignet/src/iroh_host.rs
Due: pignet

Not an error, just a deadline
  hw_test/tests/mdns_support.rs
Due: none

Fix iroh api changes
  pigglet/src/device_net/iroh_device.rs
Due: pigglet

Avoid unused import
  hw_test/tests/mdns_support.rs
Due: none

Reorganize tests
  hw_test/tests/iroh.rs
  hw_test/tests/lib_to_iroh_devices.rs
  hw_test/tests/lib_to_tcp_devices.rs
  hw_test/tests/lib_to_usb_devices.rs
  hw_test/tests/mdns_support.rs
  hw_test/tests/pigglet/iroh.rs
  hw_test/tests/pigglet/iroh_then_tcp.rs
  hw_test/tests/pigglet/tcp.rs
  hw_test/tests/pigglet/tcp_then_iroh.rs
  hw_test/tests/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_usb_devices.rs
Due: none

Reorganize tests
  hw_test/tests/lib_to_devices/lib_to_iroh_devices.rs
  hw_test/tests/lib_to_devices/lib_to_tcp_devices.rs
  hw_test/tests/lib_to_devices/lib_to_usb_devices.rs
  hw_test/tests/lib_to_devices/mod.rs
  hw_test/tests/mod.rs
  hw_test/tests/pigglet/iroh.rs
  hw_test/tests/pigglet/iroh_then_tcp.rs
  hw_test/tests/pigglet/mod.rs
  hw_test/tests/pigglet/tcp.rs
  hw_test/tests/pigglet/tcp_then_iroh.rs
  hw_test/tests/piggui_to_devices/mod.rs
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_usb_devices.rs
  hw_test/tests/usb_support.rs
  porky/build.rs
Due: porky

Fix format
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_usb_devices.rs
Due: none

Reorganize modules
  hw_test/tests/discovery/mdns.rs
  hw_test/tests/discovery/mod.rs
  hw_test/tests/discovery/usb.rs
  hw_test/tests/lib_to_devices/lib_to_iroh_devices.rs
  hw_test/tests/lib_to_devices/lib_to_tcp_devices.rs
  hw_test/tests/mod.rs
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_usb_devices.rs
Due: none

Avoid error due to stdio on kill
  piggui/tests/mod.rs
Due: piggui

Switch to picotool for uf2s
  .github/workflows/build_and_test.yml
  porky/Makefile
Due: porky

Set GH_TOKEN
  .github/workflows/build_and_test.yml
Due: none

Try to fix PATH
  .github/workflows/build_and_test.yml
Due: none

Debug $PWD
  .github/workflows/build_and_test.yml
Due: none

Fix PATH?
  .github/workflows/build_and_test.yml
Due: none

Install missing target
  .github/workflows/build_and_test.yml
Due: none

Update Makefile target naming
  BUILDING.md
  Makefile
  pigglet/Makefile
  piggui/Makefile
Due: pigglet, piggui

Move pigglet tests from hw_tests to pigglet
  hw_test/tests/discovery/mdns.rs
  hw_test/tests/lib_to_devices/lib_to_iroh_devices.rs
  hw_test/tests/lib_to_devices/lib_to_tcp_devices.rs
  hw_test/tests/lib_to_devices/lib_to_usb_devices.rs
  hw_test/tests/mod.rs
  hw_test/tests/pigglet/iroh.rs
  hw_test/tests/pigglet/mod.rs
  hw_test/tests/pigglet/tcp.rs
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_devices/piggui_to_usb_devices.rs
  pigglet/tests/cli_options.rs
  pigglet/tests/iroh.rs
  pigglet/tests/iroh_then_tcp.rs
  pigglet/tests/singleton.rs
  pigglet/tests/tcp.rs
  pigglet/tests/tcp_then_iroh.rs
  piggui/tests/support.rs
Due: pigglet, piggui

Move tests around and cleanup to not use piggui from pigglet tests
  hw_test/tests/discovery/mdns.rs
  hw_test/tests/piggui_to_devices/piggui_to_usb_devices.rs
  pigglet/tests/iroh.rs
  pigglet/tests/tcp.rs
  piggui/tests/connect.rs
  piggui/tests/mod.rs
  piggui/tests/singleton.rs
  piggui/tests/support.rs
Due: pigglet, piggui

Pass both instances
  piggui/tests/singleton.rs
Due: piggui

Extend deadline for mDNS discovery in hw tests
  hw_test/tests/discovery/mdns.rs
Due: none

Add back in piggui to device tests
  hw_test/tests/mod.rs
Due: none

Extend mDNS deadline
  hw_test/tests/discovery/mdns.rs
Due: none

Disable ubuntu and windows until fixed
  .github/workflows/build_and_test.yml
Due: none

Changes to error messages. Removed duplicate tests and renamed som tests
  hw_test/tests/discovery/mdns.rs
  hw_test/tests/lib_to_devices/lib_to_iroh_devices.rs
  hw_test/tests/lib_to_devices/lib_to_tcp_devices.rs
Due: none

Big test rework
  hw_test/tests/discovery/mdns.rs
  hw_test/tests/discovery/usb.rs
  hw_test/tests/lib_to_devices/mdns_iroh.rs
  hw_test/tests/lib_to_devices/mdns_tcp.rs
  hw_test/tests/lib_to_devices/mod.rs
  hw_test/tests/lib_to_devices/usb_iroh.rs
  hw_test/tests/lib_to_devices/usb_tcp.rs
  hw_test/tests/lib_to_devices/usb_usb.rs
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
Due: none

Try adding timeouts
  hw_test/tests/lib_to_devices/mdns_iroh.rs
Due: none

Add more delays
  hw_test/tests/lib_to_devices/mdns_iroh.rs
Due: none

Kill before failing test
  hw_test/tests/piggui_to_devices/piggui_to_iroh_devices.rs
Due: none

As either pico1 or pico2 is needed for a correct compile, this causes project load in IDEs to fail as neither is defined.
  porky/.cargo/config.toml
  porky/Cargo.toml
  porky/Makefile
Due: porky

Try extra delays after each test to help reliability
  hw_test/tests/lib_to_devices/usb_usb.rs
Due: none

Path conditions:
  pigglet: any of: pigglet/**
  piggui: any of: piggui/**
  porky: any of: porky/**
  pigdef: any of: pigdef/**
  piggpio: any of: piggpio/**
  pignet: any of: pignet/**
  hw_tests: any of: hw_tests/**
