Repository andrewdavidmackenzie/pigg: changes, and which Codecov flags are due for each by the changed paths.
All: pigglet, piggui, porky, pigdef, piggpio, pignet, hw_tests

broader excludes
  site/_config.yml
Due: none

Try enabling network tests again
  pigglet/tests/cross.rs
  piggui/tests/iroh.rs
  piggui/tests/tcp.rs
Due: pigglet, piggui

Move networking tests to hw_tests that will run in private runner (macos)
  hw_test/tests/cross.rs
  hw_test/tests/iroh.rs
  hw_test/tests/tcp.rs
  piggui/tests/mod.rs
Due: piggui

Remove failing teardown step
  .github/workflows/pr-preview.yml
Due: none

Add a separate teardown workflow
  .github/workflows/surge-preview.yml
  .github/workflows/surge-teardown.yml
Due: none

Debug surge preview
  .github/workflows/surge-preview.yml
Due: none

Remove ./
  .github/workflows/surge-preview.yml
Due: none

Add surge to make docs
  Makefile
Due: none

Update surge_sh_action
  .github/workflows/surge-preview.yml
Due: none

More explicit paths
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/surge-preview.yml
Due: none

Add debugging
  .github/workflows/jekyll-gh-pages.yml
Due: none

Add debugging
  .github/workflows/surge-preview.yml
Due: none

Debugging
  .github/workflows/surge-preview.yml
Due: none

Debugging
  site/_config.yml
Due: none

Try ruby
  .github/workflows/surge-preview.yml
Due: none

Try ruby 3.2
  .github/workflows/surge-preview.yml
Due: none

custom jekyll build
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/surge-preview.yml
Due: none

Avoid failing PRs on component coverage
  codecov.yml
Due: none

Try again
  codecov.yml
Due: none

Try informational
  codecov.yml
Due: none

Forgot to install ruby
  .github/workflows/jekyll-gh-pages.yml
Due: none

Factor out a service.rs file
  pigglet/src/pigglet.rs
  pigglet/src/service.rs
Due: pigglet

Refactoring
  pigglet/src/pigglet.rs
  pigglet/src/service.rs
Due: pigglet

Constant for error code
  pigglet/src/pigglet.rs
Due: pigglet

Refactor
  hw_test/tests/iroh.rs
  hw_test/tests/piggui_to_iroh_devices.rs
  hw_test/tests/piggui_to_tcp_devices.rs
  hw_test/tests/piggui_to_usb_devices.rs
  hw_test/tests/tcp.rs
  pigglet/tests/mod.rs
  piggui/tests/mod.rs
  piggui/tests/support.rs
Due: pigglet, piggui

Add a test for two instances of pigglet
  pigglet/tests/mod.rs
Due: pigglet

Add PID to info file and always write it
  pigglet/src/pigglet.rs
  pigglet/src/service.rs
Due: pigglet

refactor
  piggui/src/hardware_subscription.rs
  piggui/src/piggui.rs
  piggui/src/views/hardware_view.rs
Due: piggui

Rework how info file is handled
  Cargo.lock
  pigglet/Cargo.toml
  pigglet/src/pigglet.rs
  pigglet/src/service.rs
  pigglet/tests/mod.rs
  piggpio/Cargo.toml
  piggpio/src/lib.rs
  piggui/src/local_host.rs
  piggui/src/piggui.rs
Due: pigglet, piggui, piggpio

Fix all features
  Cargo.lock
  pigglet/src/pigglet.rs
  piggpio/Cargo.toml
  piggpio/src/lib.rs
Due: pigglet, piggpio

Kill pigglet at end of test
  pigglet/tests/tcp.rs
Due: pigglet

Pass "owner" of hardware into the get_hardware() function
  pigglet/src/pigglet.rs
  piggpio/src/lib.rs
  piggui/src/local_host.rs
  piggui/src/piggui.rs
Due: pigglet, piggui, piggpio

Try this
  pigglet/tests/mod.rs
Due: pigglet

Detect HW clashes
  pigglet/tests/mod.rs
Due: pigglet

Path conditions:
  pigglet: any of: pigglet/**
  piggui: any of: piggui/**
  porky: any of: porky/**
  pigdef: any of: pigdef/**
  piggpio: any of: piggpio/**
  pignet: any of: pignet/**
  hw_tests: any of: hw_tests/**
